// #General-Styles

* {
  margin:   0;
  padding:  0;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding:  0;
  border:   0;
}

::-moz-selection {
  color: $color-text-light;
  background: $color-background-blue;
}

::selection {
  color: $color-text-light;
  background: $color-background-blue;
}

html,
body {
  @include size(100%, 100%);

  @media only screen and (max-height: 500px) {
    height: auto;
  }
}

body {
  font-family: $font-main;
  @include text(24px, 1.4, $font-weight-extralight, $color-text-dark);
  text-align: center;
  padding: 15px;
  background: $color-background-grey;
  background: linear-gradient(-215deg, darken($color-background-grey, 7%) 0%, $color-background-grey 60%);
}

a {
  color: $color-text-blue;
  text-decoration: none;
  @include transition(all 300ms ease-in-out);
  position: relative;

  &::before {
    content: '';
    @include absolute(bottom 1px left 0);
    @include size(100%, 1px);
    @include transform-origin(50%, 50%);
    @include transition(all 300ms ease-in-out);
    opacity: 0;
    background: $color-background-blue;
  }

  &:hover::before {
    bottom: -1px;
    background: darken($color-text-blue, 15%);
    opacity: 1;
  }
}

a:visited {
  @extend a;
}

a:hover {
  color: darken($color-text-blue, 15%);
  @include transition(all 150ms ease-in-out);
}

a:active {
  @extend a;
}

.wrapper {
  @include size(100%, 100%);
  background: $color-background-light;
  position: relative;

  @media only screen and (max-height: 500px) {
    height: auto;
  }
}

.content {
  @include absolute(top 50% left 50%);
  @include translate(-50%, -50%);
  @include size(100%, auto);
  max-width: 600px;
  padding: 0 35px;

  @media only screen and (max-height: 500px) {
    position: static;
    @include translate(0, 0);
    margin: 50px auto;
  }

  h1 {
    font-family: $font-main;
    @include text(60px, 1.0, $font-weight-thin);
    letter-spacing: -1px;
    margin: 0 0 10px;

    @media only screen and (max-height: 700px) {
      @include text(48px, 1.0);
    }
  }

  p {
    @media only screen and (max-height: 700px) and (max-width: 400px) {
      @include text(20px, 1.4);
    }

    @media only screen and (max-height: 600px) and (max-width: 400px) {
      @include text(15px, 1.4);
    }

    &:first-of-type {
      margin-bottom: 20px;
    }
  }
}

@include keyframe(rotateGradient) {
  0% {
    background-position: 90% 0;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0;
  }
}